## Homework

1. Suponga dos eventos, A y B, y que P(A) = 0.50, P(B) = 0.60 y P(A ∩ B) = 0.40.<br>
- a. Halle P(A | B).
- b. Halle P(B | A).
- c. ¿A y B son independientes? ¿Por qué sí o por qué no?

In [1]:
prob_a = 0.5
prob_b = 0.6
prob_anb = 0.4

In [2]:
print(prob_anb/prob_b) #a
print(prob_anb/prob_a) #b
print(prob_a*prob_b == prob_anb) #c no se cumple la igual por lo tanto no son independientes

0.6666666666666667
0.8
False

2. Suponga dos eventos, A y B, que son mutuamente excluyentes. Admita, además, que P(A) = 0.30 y P(B) = 0.40.<br>
- a. Obtenga P(A ∩ B). ¿Existe intersección entre los dos conjuntos?.
- b. Calcule P(A | B).
- c. Un estudiante de estadística argumenta que los conceptos de eventos mutuamente excluyentes y eventos independientes son en realidad lo mismo y que si los eventos son mutuamente excluyentes deben ser también independientes. ¿Está usted de acuerdo? Use la información sobre las probabilidades para justificar su respuesta.

In [3]:
prob_a = 0.3
prob_b = 0.4
prob_anb = 0

In [4]:
#a) al ser mutuamente excluyentes la intersección entre ambos conjuntos es cero, por lo tanto no hay intersección
print(prob_anb/prob_b) #b) P(AnB) = P(A)*P(B) ---> P(AnB)/P(B) = P(A|B) da cero porque son eventos excluyentes

0.0

LEY DE LA MULTIPLICACIÓN PARA EVENTOS INDEPENDIENTES <br> 
P(A ∩ B) = P(A) * P(B)

In [5]:
#c) teniendo en cuenta la ley de multiplicación para eventos independientes, se observa que si los eventos fuesen independientes:
print(f'La probabilidad de intersección es {prob_a*prob_b}') #P(A ∩ B)
#sin embargo, por ser incluyentes, la intersección es igual a cero, tal como se presentó en el punto a.

La probabilidad de intersección es 0.12

Dada la siguiente tabla:<br>
![Sucesos](../_src/assets/sucesos.PNG)<br>

##### se arma la tabla para los ejercicios

In [6]:
import pandas as pd

In [7]:
edad = ['<40', '40-50', '>50']
nacional = [24, 19, 7]
importado = [6, 15, 9]

In [8]:
datos = dict(nac = nacional, imp = importado)

In [9]:
tabla = pd.DataFrame(datos, index = edad)

In [10]:
tabla.loc['total']=tabla.sum()

In [11]:
tabla

       nac  imp
<40     24    6
40-50   19   15
>50      7    9
total   50   30

In [12]:
tabla.nac+tabla.imp

<40      30
40-50    34
>50      16
total    80
dtype: int64

In [13]:
tabla = tabla.assign(total=tabla.nac+tabla.imp)

In [14]:
tabla

       nac  imp  total
<40     24    6     30
40-50   19   15     34
>50      7    9     16
total   50   30     80

3. Si en la concesionaria se seleccionan dos ventas con reposición (Los sucesos son independientes.). Hallar la probabilidad de que las ventas sean:<br>
 
  - a. La primera de un comprador de “menos de 40 años” y la segunda de uno de "entre 40 y 50 años".

In [18]:
(tabla.total.loc['<40']/tabla.total.loc['total'])*(tabla.total.loc['40-50']/tabla.total.loc['total'])

0.159375

- b. las dos sean de autos "nacionales".

In [16]:
(tabla.nac.loc['total']/tabla.total.loc['total'])**2

0.390625

4. Si la selección de las dos ventas se realiza sin reposición. Hallar la probabilidad de que las ventas sean:<br>
  Los sucesos son condicionales.

 - a. la primera de un comprador de “menos de 40 años” y la segunda de uno de "entre 40 y 50 años".

In [17]:
(tabla.total.loc['<40']/tabla.total.loc['total'])*(tabla.total.loc['40-50']/(tabla.total.loc['total']-1))

0.16139240506329114

 - b. las dos sean de autos "nacionales".

In [19]:
(tabla.nac.loc['total']/tabla.total.loc['total'])*((tabla.nac.loc['total']-1)/(tabla.total.loc['total']-1))

0.3876582278481012

5. Si la selección de las dos ventas se realiza sin reposición. Hallar la probabilidad de que las ventas sean:<br>
  Los sucesos son condicionales.
  
 - a. De un comprador de “menos de 40 años” y de uno de "entre 40 y 50 años". Sin importar el orden.

In [ ]:
# P(40-50|<40) = P(40-50 n <40)/P(<40)

In [21]:
#primera posibilidad
prob_1 = (tabla.total.loc['<40']/tabla.total.loc['total'])*(tabla.total.loc['40-50']/(tabla.total.loc['total']-1))

In [22]:
#segunda posibilidad
prob_2 = (tabla.total.loc['40-50']/tabla.total.loc['total'])*(tabla.total.loc['<40']/(tabla.total.loc['total']-1))

In [23]:
#se suman las probabilidades de ambos eventos ya que no importa el orden
prob_1+prob_2

0.3227848101265823

6. Debido al aumento de los costos de los seguros, en un país 43 millones de personas, hay personas que no cuentan con un seguro médico. En la tabla siguiente se muestran datos muestrales representativos de la cantidad de personas que cuentan con seguro médico:<br>
 ![Seguro](../_src/assets/seguro.PNG)

- a. Con estos datos elabore una tabla de probabilidad conjunta y úsela para responder las preguntas restantes.

In [42]:
edad = ['18-34', '>=35']
seguro = {'seguro': [750, 950]}
no_seguro = {'no_seguro':[170, 130]}

In [43]:
datos = seguro | no_seguro

In [44]:
tabla = pd.DataFrame(datos, index = edad)

In [47]:
tabla.loc['total'] = tabla.sum()

In [51]:
tabla = tabla.assign(total = tabla.seguro+tabla.no_seguro)

In [52]:
tabla_prob = tabla/2000
tabla_prob

       seguro  no_seguro  total
18-34   0.375      0.085   0.46
>=35    0.475      0.065   0.54
total   0.850      0.150   1.00

- b. ¿Qué indican las probabilidades marginales acerca de la edad de la población? <br>
El 85% de la población tiene seguro y el 54% tiene 35 años o más.

- c. ¿Cuál es la probabilidad de que una persona tomada en forma aleatoria no tenga seguro médico?

In [53]:
#P(Sin seguro):
tabla_prob.no_seguro.loc['total']

0.15

- d. Si la persona tiene entre 18 y 34 años, ¿cuál es la probabilidad de que no tenga seguro médico?

In [54]:
#P(Sin seguro|18-34 años) = P(Sin seguro y 18-34 años) / P(18-34 años)
tabla_prob.no_seguro.loc['18-34']/tabla_prob.total.loc['18-34']

0.1847826086956522

- e. Si la persona tiene 35 años o más ¿cuál es la probabilidad de que no tenga seguro médico?

In [55]:
#P(Sin seguro|igual o más de 35 años) = P(Sin seguro y >=35 años) / P(>=35 años)
tabla_prob.no_seguro.loc['>=35']/tabla_prob.total.loc['>=35']

0.12037037037037036

- f. Si la persona no tiene seguro médico, ¿cuál es la probabilidad de que tenga entre 18 y 34 años?

In [56]:
#P(18-34 años|Sin seguro) = P(Sin seguro y 18-34 años) / P(sin seguro)
tabla_prob.no_seguro.loc['18-34']/tabla_prob.no_seguro.loc['total']

0.5666666666666668

#### Puedes complementar con los ejercicios del 33 al 40 del Capitula 4 del libro "ESTADÍSTICA PARA ADMINISTRACIÓN Y ECONOMÍA"