In [ ]:
import pymysql

In [ ]:
conexion = pymysql.connect(
   host='localhost',
   user='root',
   passwd='',
   db=''   
)
cursor = conexion.cursor()

Trer reguistros

In [ ]:
cursor.execute('SELECT * FROM alumno')
#alumnos = cursor.fetchall() #Tupla de tuplas con todos los registros
#alumno = cursor.fetchone() #Me trae el primer registro
#alumnos = cursor.fetchmany(5) #Tupla de los registros pedidos
for fila in cursor:
   print(fila)
   break

Insertar registros

In [ ]:
cursor.execute("INSERT INTO persona (Nombre, Edad) VALUES ('Roberto', 41)")

In [ ]:
nombre = 'Josefina'
edad = 25
cursor.execute("INSERT INTO persona (Nombre, Edad) VALUES (%s,%s)", (nombre, edad))

In [ ]:
nombre = input("¿Cuál es tu nombre?: ")
edad = int(input("¿Cuál es tu edad?: "))
cursor.execute("INSERT INTO persona (Nombre, Edad) VALUES (%s,%s)", (nombre, edad))

In [ ]:
personas = [
   ('Jimena', 31),
   ('Alberto', 42),
   ('Estela', 32)
]
cursor.executemany("INSERT INTO persona (Nombre, Edad) VALUES (%s,%s)", personas)

In [ ]:
conexion.commit()

In [ ]:
conexion.rollback() #Para no ejecturar la inserción

In [ ]:
conexion.close()

In [ ]:
import requests

In [ ]:
respuesta = requests.get('https://cdn.buenosaires.gob.ar/datosabiertos/datasets/ente-de-turismo/oferta-establecimientos-gastronomicos/oferta_gastronomica.csv')
respuesta.encoding = 'utf-8'
respuesta.text