# Práctica Clase 6

1) Cargar el dataset "Emisiones_CO2.csv" provisto en la clase 2 en un Dataframe de Pandas, quitar los registros que contengan valores faltantes e implementar una nueva columna, que contenga el resultado de una función Hash aplicada sobre el campo "Código de País" y se denomine "Clave_Hash".<br>
Consideraciones: Se puede utilizar la función provista.

In [1]:
def hash_function(key):
    return sum(index * ord(character) for index, character in enumerate(repr(key), start=1))

In [2]:
print(hash_function('pato'))
print(hash_function('tapo'))
print(hash_function('tapo'))

1807
1799
1799

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('Emisiones_CO2.csv',sep='|',decimal=',', encoding='latin-1', thousands = '.')

In [5]:
df.columns

Index(['Código de país', 'Nombre del país', 'Región', 'Año', 'CO2 (kt)',
       'CO2 per cápita (toneladas métricas)'],
      dtype='object')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11127 entries, 0 to 11126
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   cod_pais                11127 non-null  object
 1   nom_pais                11127 non-null  object
 2   region                  11127 non-null  object
 3   Año                     11127 non-null  int64
 4   emision_co2             9032 non-null   float64
 5   emision_co2_per_capita  9029 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 521.7+ KB

In [8]:
#renombrando columnas
df.rename(columns={'Código de país': 'cod_pais',
                   'Nombre del país': 'nom_pais',
                   'Región': 'region',
                   'CO2 (kt)': 'emision_co2',
                   'CO2 per cápita (toneladas métricas)': 'emision_co2_per_capita'}, inplace = True)

In [10]:
df.dropna().shape

(9029, 6)

In [12]:
df.shape

(11127, 6)

In [13]:
df.dropna(inplace = True)

In [14]:
df.shape

(9029, 6)

In [15]:
len(df)

9029

In [67]:
#for i in range(0,len(df)): hash_function(df["Código de país"].iloc[i])

In [16]:
df.tail()

,cod_pais,nom_pais,region,Año,emision_co2,emision_co2_per_capita
11122,ZWE,Zimbabue,África subsahariana,2007,9732.22,0.731867
11123,ZWE,Zimbabue,África subsahariana,2008,7682.37,0.569255
11124,ZWE,Zimbabue,África subsahariana,2009,8239.75,0.600521
11125,ZWE,Zimbabue,África subsahariana,2010,9028.15,0.646073
11126,ZWE,Zimbabue,África subsahariana,2011,9860.56,0.691698

In [17]:
hash_function("ZWE")

951

In [20]:
#dos opciones
#df["Clave_Hash"] = df["Código de país"].apply(lambda row : hash_function(row))
df["Clave_Hash"] = df["cod_pais"].apply(hash_function)

In [21]:
df["Clave_Hash"]

26       910
27       910
28       910
29       910
30       910
        ...
11122    951
11123    951
11124    951
11125    951
11126    951
Name: Clave_Hash, Length: 9029, dtype: int64

In [22]:
df.head()

,cod_pais,nom_pais,region,Año,emision_co2,emision_co2_per_capita,Clave_Hash
26,ABW,Aruba,América Latina y Caribe,1986,179.683,2.868319,910
27,ABW,Aruba,América Latina y Caribe,1987,447.374,7.234964,910
28,ABW,Aruba,América Latina y Caribe,1988,612.389,10.026508,910
29,ABW,Aruba,América Latina y Caribe,1989,649.059,10.634733,910
30,ABW,Aruba,América Latina y Caribe,1990,1840.830,29.620165,910

2. A partir del Dataframe creado en el punto 1, construir uno nuevo, que contenga solo los valores distintos de la tupla "Clave_Hash", "Código de País" , "Nombre de país" y "Región". Quitando luego del dataframe original los campos "Código de País" , "Nombre de país" y "Región"

In [87]:
print(len(df["Clave_Hash"].unique()))
df["Clave_Hash"].unique()

108

array([ 910,  870,  858,  893,  856,  886,  894,  918,  900,  951,  955,
        862,  877,  885,  836,  851,  907,  914,  873,  922,  954,  937,
        872,  876,  924,  930,  887,  843,  875,  860,  888,  896,  931,
        927,  889,  909,  913,  952,  906,  943,  917,  884,  861,  904,
        915,  941,  957,  912,  905,  880,  936,  835,  902,  899,  852,
        871,  874,  934,  890,  926,  987,  968,  945,  938,  950,  933,
        892,  947,  939,  903,  908,  878,  949,  981,  897,  940,  847,
        881,  978,  993,  911,  898,  985,  970,  975,  895,  925,  863,
        964,  935,  901,  929,  976,  996,  919,  916,  972,  983,  958,
       1021,  995,  962,  969,  932, 1006,  948,  997,  965], dtype=int64)

In [30]:
#2 opciones
#df_val_unicos = df[-df[["Clave_Hash", "cod_pais", "nom_pais", "region"]].duplicated()]
df_val_unicos = df[["Clave_Hash",  "cod_pais", "nom_pais", "region"]].drop_duplicates(ignore_index=True) #resetear indice
#df_val_unicos = df[["Clave_Hash",  "cod_pais", "nom_pais", "region"]].drop_duplicates().reset_index() #resetear indice

In [33]:
df_val_unicos.head()

   Clave_Hash cod_pais    nom_pais                   region
1         910      ABW       Aruba  América Latina y Caribe
2         870      AND     Andorra    Europa y Asia Central
3         858      AFG  Afganistán              Sur de Asia
4         893      AGO      Angola      África subsahariana
5         856      ALB     Albania    Europa y Asia Central

In [32]:
df_val_unicos.index += 1 #como index es un atributo del df, se puede modificar la numeración

In [88]:
df_val_unicos.shape

(199, 7)

In [89]:
len(df_val_unicos["Clave_Hash"].unique())

108

In [27]:
len(df_val_unicos["cod_pais"].unique()) #algunos países tienen la misma clave hash

199

In [125]:
df_val_unicos[df_val_unicos[["Clave_Hash", "cod_pais"]].duplicated("Clave_Hash")] #ejemplo de esta coincidencia con AZE y BHR

,Código de país,Nombre del país,Región,Año,CO2 (kt),CO2 per cápita (toneladas métricas),Clave_Hash
656,AZE,Azerbaiyán,Europa y Asia Central,1992,"57.678,24",7.813363,910
988,BHR,Baréin,Oriente Medio y Norte de África,1960,"575,719",3.542864,910
1300,BOL,Bolivia,América Latina y Caribe,1960,"1.004,76",0.272038,907
2288,CUB,Cuba,América Latina y Caribe,1960,"13.699,91",1.918452,887
2444,CYP,Chipre,Europa y Asia Central,1960,"887,414",1.548907,955
...,...,...,...,...,...,...,...
10867,YEM,Yemen,Oriente Medio y Norte de África,1960,"3.634,00",0.703403,927
10919,ZAF,Sudáfrica,África subsahariana,1960,"97.934,57",5.629718,889
10971,COD,Congo (República Democrática),África subsahariana,1960,"2.321,21",0.152228,877
11027,ZMB,Zambia,África subsahariana,1964,"3.278,30",0.950434,909
11079,ZWE,Zimbabue,África subsahariana,1964,"4.473,74",1.045374,951

In [123]:
print(hash_function("AZE"))
print(hash_function("BHR"))

910
910

In [28]:
df_val_unicos.drop(labels = ["nom_pais", "cod_pais", "region"], axis = 'columns')

       Clave_Hash
26            910
87            870
104           858
156           893
208           856
...           ...
10867         927
10919         889
10971         877
11027         909
11079         951

[199 rows x 1 columns]

In [35]:
df_val_unicos['Clave_Hash'].value_counts() #como se vio antes, el código hash no es único

910    5
935    5
951    4
877    4
931    4
      ..
981    1
836    1
847    1
881    1
965    1
Name: Clave_Hash, Length: 108, dtype: int64

## Tareas adicionales
1 - Resolver colisiones de clave hash <br>
2 - Recuperar el nombre del país en el df original (merge)

In [56]:
df["Clave_Hash"] = (df["cod_pais"] + df["nom_pais"] + df.index ).apply(hash_function)

TypeError: can only concatenate str (not "int") to str

In [53]:
df_val_unicos = df[["Clave_Hash",  "cod_pais", "nom_pais", "region"]].drop_duplicates(ignore_index=True) #resetear indice

In [54]:
df_val_unicos[df_val_unicos[["Clave_Hash", "cod_pais"]].duplicated("Clave_Hash")] #ejemplo de esta coincidencia con AZE y BHR

     Clave_Hash cod_pais    nom_pais                 region
165       60844      SVK  Eslovaquia  Europa y Asia Central

In [55]:
df_val_unicos[df_val_unicos["Clave_Hash"]==60844]

     Clave_Hash cod_pais    nom_pais                 region
122       60844      MNE  Montenegro  Europa y Asia Central
165       60844      SVK  Eslovaquia  Europa y Asia Central

In [50]:
df_val_unicos.drop(labels = ["nom_pais", "cod_pais", "region"], axis = 'columns')

     Clave_Hash
0         50928
1         50568
2         32516
3         45898
4         50290
..          ...
194       79992
195       56778
196      145385
197       45872
198       52493

[199 rows x 1 columns]

In [51]:
df_val_unicos['Clave_Hash'].value_counts() #como se vio antes, el código hash no es único

60844    2
50928    1
50643    1
52658    1
46012    1
        ..
45739    1
67685    1
86029    1
47264    1
52493    1
Name: Clave_Hash, Length: 198, dtype: int64